$primaryBg: #0085ff;
$primaryWord: #3190e8;
$primary: #02b6fd;
$success: #38ca73;
$danger: rgb(255, 95, 62);
$dark: #333333;
$word: #666666;
$lightWord: #999999;
$warnBg: #ffe339;
$warnWord: #6f3f15;
$lightBg: #f5f5f5;
